:root {
    --primeira-cor: #3585F9;
    --segunda-cor: #2B2D33;
    --terceira-cor: #FFFFFF;

}

body {
    width: 100vw
}

/* -----------------------------------------------------------CABEÇALHO----------------------------------------------------------- */
header {
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 23px;
    font-family: "inter", sans-serif;
    /* fonte importada */
    height: 84px;
    width: 100%;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 4%;
    margin-right: 5%;
}

.cabecalho img {
    margin-top: 1.5%;
    width: 16%;
}


.MenuDeNavegacao {
    align-items: center;
    display: flex;
    gap: 19%;
    margin-right: 8%;
    margin-top: 1.5%;
    font-size: 1em;
}

.MenuDeNavegacao a:hover {
    transform: scale(1.2);
    color: var(--primary-color);
    /* muda a cor e aumenta o tamanho da fonte quando passa o mouse por cima */
}

.BotaoOrcamento {
    justify-content: space-between;
    background-color: #3585F9;
    width: 24%;
    border-radius: 6px;
    text-align: center;
    transition: transform 0.5s ease;
    /* Cria uma animação suave de 0,5s quando a propriedade transform mudar de escala */
    margin-top: 1%;
    font-size: 0.9em;
}

.BotaoOrcamento:hover {
    transform: scale(1.1);
    /* Aumenta o tamanho do botão Orcamento em 10% */
}

/* -----------------------------------------------------------MAIN----------------------------------------------------------- */
main {
    background-color: #2B2D33;
    width: 100%;
}

.Apresentacao {
    width: 100%;
    height: 503px;
    background: linear-gradient(to left, #2F4F83, #2B2D33);
    display: flex;
}

.Apresentacao img {
    margin-top: 2.5%;
    height: 87%;
    max-width: 100%;
    margin-right: 61px;
}

h1 {
    max-width: 100%;
    color: white;
    font-family: "inter", sans-serif;
    margin-top: 56px;
    font-size: 3em;
    padding: 4%;
    margin-left: 5%;
}

.descricacao {
    margin-right: 93px;
    font-family: "inter", sans-serif;
}

.descricacao p {
    font-size: 1.2em;
    color: white;
    padding: 3%;
    margin-left: 6%;
}

.ContainerFuncionalidades {
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--terceira-cor);
    font-size: 2em;
    padding: 4%;
}

.Funcionalidades {
    margin-top: 96px;
    font-size: 1.5em;
}

.quadros {
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
    max-width: 2000px;
    gap: 25px;
}

.quadrado {
    background-color: #2B2D33;
    border: 3px solid black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    transition: transform 0.5s ease;
    margin: 1%;
}

.quadrado:hover {
    transform: scale(1.1);
}

h4 {
    text-align: center;
    margin-top: 18px;
    font-size: 1em;
    color: var(--primeira-cor);
}

ul {
    list-style: none;
    max-width: 390px;
    font-size: 27px;
    font-weight: normal;
    color: white;
}

li {
    margin-top: 39px;
    position: relative;
    padding-left: 40px;
    font-size: 0.8em;
    padding-bottom: 20px;
}

li:before {
    content: "";
    width: 14px;
    height: 14px;
    background: #3b82f6;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 10px;
    margin-left: 10px;
}

.ContainerBeneficios {
    background-color: #FFFFFF;
    height: 700px;
    width: 100%;
    text-align: center;
}

.beneficios {
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3.2em;
    color: #101628;
    margin-top: 35px;
    display: inline-block;
}

.beneficiosCard {
    width: 92vw;
    height: 364px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 115px;
}

.beneficiosCard img {
    width: 666px;
    height: 438px;
}

.beneficiosTexto {
    height: 300px;
    width: 600px;
}

.beneficiosTexto h3 {
    font-family: sans-serif;
    font-size: 2.5em;
    color: var(--primeira-cor);
    padding: 7px;
}

.beneficiosTexto p {
    font-family: sans-serif;
    font-size: 1.7em;
    text-align: left;
    margin-top: 25px;
    margin-left: 25px;
}

.ContainerSeguranca {
    background-color: var(--segunda-cor);
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.segurancaCard {
    position: relative;
    width: 818px;
    height: 330px;
    background-color: var(--segunda-cor);
    border: 1px solid white;
    border-radius: 20px;
    margin: 0 490px 0 0;
    display: flex;
    align-items: center;
    margin-top: 89px;
    margin-right: 465px;
}

.segurancaCard img {
    position: absolute;
    left: 675px;
    width: 725px;
    height: 438px;
    border-radius: 10px;
    padding-right: 43px;
}

.segurancaTexto {
    height: 300px;
    width: 600px;
    margin-left: 55px;
}

.segurancaTexto h3 {
    font-family: sans-serif;
    font-size: 2.5em;
    color: var(--primeira-cor);
    padding: 20px;
    margin-top: -20px;
    margin-left: 55px;
}

.segurancaTexto p {
    font-family: sans-serif;
    color: #FFFFFF;
    font-size: 1.7em;
    text-align: left;
    margin-top: 20px;
}

.ContainerAgilidade {
    background-color: #ffffff;
    height: 550px;
    width: 100%;
    text-align: center;
}

.AgilidadeCard {
    position: relative;
    width: 818px;
    height: 314px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);
    margin: 100px 55px 0 auto;
    display: flex;
    align-items: center;
    top: 130px;
}

.AgilidadeCard img {
    position: absolute;
    left: -530px;
    width: 655px;
    height: 390px;
    border-radius: 10px;
}

.AgilidadeTexto {
    height: 300px;
    width: 600px;
    margin-left: 170px;
}

.AgilidadeTexto h3 {
    font-family: sans-serif;
    font-size: 2.7em;
    color: var(--primeira-cor);
    margin-top: 28px;
}

.AgilidadeTexto p {
    font-family: sans-serif;
    font-size: 1.7em;
    text-align: left;
    margin-top: 25px;
}

.FAQ {
    display: flex;
}

.ContatoOrcamento {
    height: 1001px;
    margin-left: 66px;
    margin-right: 45px;
    margin-top: 59px;
}

.Contato {
    color: white;
    font-size: 2.4em;
    font-family: sans-serif;
}

.TabelaDeContato {
    height: 730px;
    border: 3px solid white;
    border-radius: 20px;
    margin-top: 38px;
}

.TabelaDeContato p {
    color: white;
    font-family: sans-serif;
    margin-left: 20px;
}

.InfoNome {
    margin-left: 24px;
    margin-right: 13px;
    margin-top: 53px;
}

.CampoDeTextoNome {
    background-color: #232529;
    border-radius: 20px;
    height: 52px;
    display: flex;
    margin-top: 10px;
    margin-right: 20px;
}

.CampoDeTextoNome p {
    color: #595959;
    align-items: center;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}

.InfoEmail {
    margin-left: 24px;
    margin-right: 13px;
    margin-top: 53px;
}

.CampoDeTextoEmail {
    background-color: #232529;
    border-radius: 20px;
    height: 52px;
    display: flex;
    margin-top: 10px;
    margin-right: 20px;
}

.CampoDeTextoEmail p {
    color: #595959;
    align-items: center;
    display: flex;
    margin-left: 20px;
}

.InfoMensagem {
    margin-left: 24px;
    margin-right: 13px;
    margin-top: 53px;
}

.CampoDeTextoMensagem {
    background-color: #232529;
    border-radius: 20px;
    margin-top: 3px;
    height: 111px;
    display: flex;
    margin-top: 10px;
}

.CampoDeTextoMensagem p {
    color: #595959;
    display: flex;
    margin-left: 20px;
    margin-top: 11px;
}

.EnviarMensagem {
    color: black;
    background-color: #3585F9;
    align-items: center;
    justify-content: center;
    width: 652px;
    height: 34px;
    margin-left: 59px;
    margin-right: 13px;
    margin-top: 59px;
    border-radius: 20px;
    display: flex;
}

.EnviarMensagem p {
    text-align: center;
    color: #101628;
    font-size: 20px;
}

.TabelaDeDuvidas {
    margin-top: 34px;
}

.DuvidasFrequentes {
    height: 538px;
    border: 3px solid white;
    border-radius: 20px;
    margin-top: 140px;
    font-family: sans-serif;
}

.DuvidasFrequentes p {
    color: white;
    font-size: 25px;
    margin-top: 42px;
    margin-left: 40px;
}

.SolicitarDemo {
    background-color: #2B2D33;
    border: 3px solid black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    width: 427px;
    height: 124px;
    border-radius: 20px;
    margin-left: 40px;
    transition: transform 0.5s ease;
}

.SolicitarDemo:hover {
    transform: scale(1.1);
}

.SalvarAutomaticamente {
    background-color: #2B2D33;
    border: 3px solid black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    width: 427px;
    height: 124px;
    border-radius: 20px;
    margin-left: 40px;
    margin-top: 20px;
    transition: transform 0.5s ease;
}

.SalvarAutomaticamente:hover {
    transform: scale(1.1);
}

.Instalar {
    background-color: #2B2D33;
    border: 3px solid black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    width: 427px;
    height: 124px;
    border-radius: 20px;
    margin-left: 40px;
    margin-top: 20px;
    transition: transform 0.5s ease;
}

.Instalar:hover {
    transform: scale(1.1);
}

.TabelaDeDuvidas h5 {
    color: #3585F9;
    font-size: 20px;
    margin-top: 11px;
    margin-left: 12px
}

.TabelaDeDuvidas p {
    font-size: 20px;
    margin-top: 11px;
    margin-left: 12px
}

.ContatoRapido {
    background-color: #2B2D33;
    border: 3px solid black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    width: 534px;
    height: 166px;
    border-radius: 20px;
    margin-top: 46px;
}

.FalarAgora p {
    margin-top: 41px;
    margin-left: 22px;
}

.FormaDeContato p {
    color: #595959;
    font-size: 20px;
    margin-top: 28px;
    margin-left: 22px;
    max-width: 279px;
}

footer {
    padding-top: 122px;
    padding-bottom: 68px;
    width: auto;
    background-color: black;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
}

.redesSociais {
    width: 55px;
    height: 55px;
}

.copyright {
    margin-left: 0px;
    color: white;
    font-family: sans-serif;
    font-size: 1em;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.nomes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
}

.nomes li {
    margin: 0px;
    padding-left: 25px;
}

.nomes li:before {
    background: white;
    width: 5px;
    height: 5px;
    margin-top: 1px;
}

.nomes p {
    margin-top: -22px;
}


@media (max-width: 768px) {
    header {
        font-size: 1em;
        height: 54px;
    }

    .MenuDeNavegacao {
        gap: 17%;
        margin-right: 10%;
    }

    .BotaoOrcamento {
        width: 28%;
        font-size: 1em;
    }

    .Apresentacao {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 718px;
        order: 2;
    }

    .Apresentacao img {
        height: 40%;
        margin-left: 142px;
        max-width: 66%;
    }

    .descricacao h1 {
        text-align: center;
        margin-left: 14%;
    }

    .descricacao p {
        margin-left: 14%;
        text-align: center;
    }

    .quadros {
        flex-direction: column;
        max-width: 77%;
        height: 100%;
        margin-top: 15px;
        margin-left: 15px;
    }

    .quadrado {
        height: 400px;
        margin-left: 127px;
        margin-top: 40px;
    }

    .Funcionalidades {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    .ContainerBeneficios {
        height: 1033px;
    }

    .beneficiosCard {
        flex-direction: column-reverse;
        text-align: center;
        height: 74%;
        width: 77vw;
        margin-top: 60px;
    }

    .beneficiosTexto p {
        text-align: center;
        margin-left: 5px;
    }

    .ContainerSeguranca {
        margin-top: 200px;
    }

    .segurancaCard {
        flex-direction: column-reverse;
        width: 74%;
        height: 120%;
        margin-right: 0;
        margin-top: -60px;
    }

    .segurancaCard img {
        position: static;
        padding: 0;
        margin-top: 20px;
        width: 666px;
    }

    .segurancaTexto {
        margin-left: 0;
        width: 90%;
        height: 43%;
        text-align: center;
    }

    .segurancaTexto p {
        max-width: 508px;
        text-align: center;
    }

    .segurancaTexto h3 {
        margin-left: 0;
        text-align: center;
    }

    .AgilidadeCard {
        flex-direction: column-reverse;
        height: auto;
        width: 600px;
        margin-top: 150px;
        margin-left: auto;
        margin-right: auto;
        top: 87px;
    }

    .AgilidadeCard img {
        position: static;
        width: 666px;
        height: auto;
        margin-top: 40px;
    }

    .AgilidadeTexto {
        margin: auto;
        width: 536px;
        text-align: center;
        height: 336px;
    }

    .AgilidadeTexto h3 {
        margin-top: 40px;
    }

    .AgilidadeTexto p {
        text-align: center;
        margin-top: 50px;
    }

    .ContainerAgilidade {
        height: 915px;
    }

    .FAQ {
        flex-direction: column;
        align-items: center;
        height: 1625px;
    }

    .ContatoOrcamento {
        margin: 20px;
        width: 100%;
        height: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .TabelaDeContato {
        width: 90%;
        height: auto;
        padding-bottom: 20px;
    }

    .EnviarMensagem {
        width: 75%;
        margin-right: auto;
        margin-left: auto;
    }

    .DuvidasFrequentes {
        margin-top: 40px;
        width: 90%;
        height: 590px;
        padding-bottom: 20px;
    }

    .TabelaDeDuvidas div {
        margin-top: 34px;
        margin-left: auto;
        margin-right: auto;
        width: 600px;
    }

    .ContatoRapido {
        width: 100%;
        margin-left: 0;
        margin-top: 75px;
    }
}

@media(max-width:375px) {

    header {
        height: 90px;
        font-size: 0.9em;
    }

    .cabecalho {
        margin-left: 2%;
        margin-right: 2%;
        flex-direction: column;
        display: flex;
    }

    .cabecalho img {
        width: 29%;
        margin-right: 240px;
    }

    .MenuDeNavegacao {
        gap: 25px;
        margin-top: 25px;
        order: 3;
        margin-left: 67px;
    }

    .MenuDeNavegacao a:nth-child(1) {
        margin-left: -56px;
    }

    .MenuDeNavegacao a:nth-child(2) {
        margin-right: 6px;
    }

    .MenuDeNavegacao a:nth-child(3) {
        margin-right: 6px;
    }

    .BotaoOrcamento {
        width: 47%;
        font-size: 1em;
        margin-left: 170px;
        margin-top: -20px;
    }

    .Apresentacao {
        flex-direction: column;
        height: auto;
        padding-bottom: 20px;
        text-align: center;
    }

    .Apresentacao img {
        margin: auto;
        margin-top: 16px;
        width: 80%;
        height: auto;
    }

    .descricacao {
        margin-right: 0;
    }

    .descricacao h1 {
        font-size: 1.5em;
        margin-right: 49px;
    }

    .descricacao p {
        font-size: 0.8em;
        margin-right: 49px;
    }

    .ContainerFuncionalidades {
        padding: 0%;
    }

    .Funcionalidades {
        font-size: 0.9em;
        text-align: center;
        margin-left: 2px;
    }

    .quadros {
        margin-top: 52px;
        max-width: 95%;
    }

    .quadrado {
        width: 95%;
        margin: auto;
        height: auto;
    }

    .beneficios {
        font-size: 2em;
    }

    .ContainerBeneficios {
        height: 770px;
        margin-top: 50px;
    }

    .beneficiosCard {
        flex-direction: column-reverse;
        width: 95%;
        height: auto;
        padding-bottom: 20px;
    }

    .beneficiosCard img {
        width: 100%;
        height: auto;
    }

    .beneficiosTexto {
        width: 95%;
        height: auto;
    }

    .beneficiosTexto p {
        text-align: center;
        font-size: 1.2em;
        margin: 10px auto;
    }

    .ContainerSeguranca {
        margin-top: 0px;
    }

    .segurancaCard {
        width: 95%;
        height: auto;
    }

    .segurancaCard img {
        width: 100%;
        height: auto;
    }

    .segurancaTexto {
        width: 95%;
    }

    .segurancaTexto p {
        font-size: 1.2em;
    }

    .ContainerAgilidade {
        margin-top: -150px;
        height: 752px;
    }

    .AgilidadeCard {
        width: 93%;
        height: auto;
    }

    .AgilidadeCard img {
        width: 100%;
        height: auto;
    }

    .AgilidadeTexto {
        width: 95%;
        height: auto;
    }

    .AgilidadeTexto p {
        font-size: 1.2em;
    }

    .ContatoOrcamento {
        width: 100%;
        height: auto;
        margin-top: 45px;
    }

    .TabelaDeContato {
        width: 95%;
        height: auto;
    }

    .CampoDeTextoMensagem {
        width: 294px;
    }

    .EnviarMensagem {
        width: 90%;
        margin: 30px auto;
    }

    .DuvidasFrequentes {
        width: 95%;
        margin-top: 40px;
    }

    .TabelaDeDuvidas div {
        width: 85%;
    }

    .ContatoRapido {
        width: 100%;
        height: 175px;
        margin-top: 85px;
    }

    footer{
        height: 75px;
    }
}