:root {
    --primeira-cor: #3585F9;
    --segunda-cor: #2B2D33;
    --terceira-cor: #FFFFFF;


}

/* -----------------------------------------------------------CABEÇALHO----------------------------------------------------------- */

header {
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 23px;
    font-family: "inter", sans-serif;
    /* fonte importada */
    height: 84px;
    width: 100%;

}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 52px;
    margin-right: 65px;

}

.cabecalho img {
    margin-top: 14px;
}

.MenuDeNavegacao {
    align-items: center;
    display: flex;
    gap: 50px;
    margin-top: 18px;
}

.MenuDeNavegacao p:hover {
    transform: scale(1.2);
    color: var(--primary-color);
    /* muda a cor e aumenta o tamanho da fonte quando passa o mouse por cima */
}

.BotaoOrcamento {
    justify-content: space-between;
    background-color: #3585F9;
    width: 263px;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.5s ease;
    /* Cria uma animação suave de 0,5s quando a propriedade transform mudar de escala */
    margin-top: 18px;
}

.BotaoOrcamento:hover {
    transform: scale(1.1);
    /* Aumenta o tamanho do botão Orcamento em 10% */
}

/* -----------------------------------------------------------MAIN----------------------------------------------------------- */

main {
    background-color: #2B2D33;
    width: 100%;

}

.Apresentacao {
    width: 100%;
    height: 503px;
    background: linear-gradient(to left, #2F4F83, #2B2D33);
    display: flex;
}

.Apresentacao img {
    margin-top: 35px;
    height: 40vh;
    width: 45vw;
    margin-right: 61px;
}

h1 {
    max-width: 100%;
    color: white;
    font-family: "inter", sans-serif;
    margin-top: 56px;
    font-size: 3.2em;
    padding: 30px;
    margin-left: 20px;
}

.descricacao {
    margin-right: 93px;
    font-family: "inter", sans-serif;
}

.descricacao p {
    font-size: 1.4em;
    color: white;
    padding: 26px;
    margin-left: 23px;
    max-width: 700px;
}

.ContainerFuncionalidades {
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--terceira-cor);
    font-size: 2em;
    padding: 4%;

}

.Funcionalidades {
    margin-top: 96px;
    font-size: 1.5em;
}

.quadros {
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
    max-width: 2000px;
    gap: 25px;
}

.Estacionados {
    background-color: #2B2D33;
    border: 3px solid black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    width: 65vw;
    height: 40vh;
    border-radius: 20px;
}

.Estacionados:hover {
    transform: scale(1.1);
}

.entrada {
    background-color: #2B2D33;
    border: 3px solid black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    width: 65vw;
    height: 40vh;
    border-radius: 20px;
}

.entrada:hover {
    transform: scale(1.1);
}

.saida {
    background-color: #2B2D33;
    border: 3px solid black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    width: 65vw;
    height: 40vh;
    border-radius: 20px;
}

.saida:hover {
    transform: scale(1.1);
}

h4 {
    text-align: center;
    margin-top: 18px;
    font-size: 1em;
    color: var(--primeira-cor);
}

ul {
    list-style: none;
    max-width: 390px;
    font-size: 27px;
    font-weight: normal;
    color: white;
}


li {
    margin-top: 39px;
    position: relative;
    padding-left: 40px;
    font-size: 1em;
}

li:before {
    content: "";
    width: 14px;
    height: 14px;
    background: #3b82f6;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 10px;
    margin-left: 10px;
}

.ContainerBeneficios {
    background-color: #FFFFFF;
    height: 700px;
    width: 100%;
    text-align: center;
}

.beneficios {
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3.2em;
    color: #101628;
    margin-top: 25px;
    display: inline-block;
}

.beneficiosCard {
    position: relative;
    width: 58vw;
    height: 33vh;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);
    margin: 100px 55px 0 auto;
    display: flex;
    align-items: center;

}

.beneficiosCard img {
    position: absolute;
    top: -40px;
    left: -500px;
    width: 607px;
    height: 438px;
    border-radius: 10px;
}

.beneficiosTexto {
    height: 300px;
    width: 600px;
    margin-left: 170px;
}

.beneficiosTexto h3 {
    font-family: sans-serif;
    font-size:  2.5em;
    color: var(--primeira-cor);
    padding: 20px;
    margin-top: -20px;
}

.beneficiosTexto p {
    font-family: sans-serif;
    font-size: 1.7em;
    text-align: left;
    margin-top: 25px;
}

.ContainerSeguranca {
    background-color: var(--segunda-cor);
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 107px;
}

.segurancaCard {
    position: relative;
    width: 818px;
    height: 357px;
    background-color: var(--segunda-cor);
    border: 1px solid white;
    border-radius: 20px;
    margin: 0 490px 0 0;
    display: flex;
    align-items: center;

}

.segurancaCard img {
    position: absolute;
    left: 675px;
    width: 653px;
    height: 438px;
    border-radius: 10px;
}

.segurancaTexto {
    height: 300px;
    width: 600px;
    margin-left: 45px;
}

.segurancaTexto h3 {
    font-family: sans-serif;
    font-size: 2.5em;
    color: var(--primeira-cor);
    padding: 20px;
    margin-top: -20px;
    margin-left: 55px;
}

.segurancaTexto p {
    font-family: sans-serif;
    color: #FFFFFF;
    font-size: 1.7em;
    text-align: left;
    margin-top: 20px;
}

.ContainerAgilidade {
    background-color: #ffffff;
    height: 550px;
    width: 100%;
    text-align: center;
}

.AgilidadeCard {
    position: relative;
    width: 818px;
    height: 314px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);
    margin: 100px 55px 0 auto;
    display: flex;
    align-items: center;
    top: 130px;
}

.AgilidadeCard img {
    position: absolute;
    left: -500px;
    width: 640px;
    height: 390px;
    border-radius: 10px;
}

.AgilidadeTexto {
    height: 300px;
    width: 600px;
    margin-left: 170px;
}

.AgilidadeTexto h3 {
    font-family: sans-serif;
    font-size: 2.7em;
    color: var(--primeira-cor);
    margin-top: 28px;
}

.AgilidadeTexto p {
    font-family: sans-serif;
    font-size: 1.7em;
    text-align: left;
    margin-top: 25px;
}

.FAQ {
    display: flex;
}

.ContatoOrcamento {
    height: 1001px;
    margin-left: 66px;
    margin-right: 45px;
    margin-top: 59px;
}

.Contato {
    color: white;
    font-size: 2.4em;
    font-family: sans-serif;
}

.TabelaDeContato {
    height: 730px;
    width: 750px;
    border: 3px solid white;
    border-radius: 20px;
    margin-top: 38px;
}

.TabelaDeContato p {
    color: white;
    font-family: sans-serif;
    margin-left: 20px;
}

.InfoNome {
    margin-left: 24px;
    margin-right: 13px;
    margin-top: 53px;
}

.CampoDeTextoNome {
    background-color: #232529;
    border-radius: 20px;
   
    height: 52px;
    display: flex;
    margin-top: 10px;
    margin-right: 20px;
}

.CampoDeTextoNome p {
    color: #595959;
    align-items: center;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}

.InfoEmail {
    margin-left: 24px;
    margin-right: 13px;
    margin-top: 53px;
    
}

.CampoDeTextoEmail {
    background-color: #232529;
    border-radius: 20px;
   
    height: 52px;
    display: flex;
    margin-top: 10px;
    margin-right: 20px;
}

.CampoDeTextoEmail p {
    color: #595959;
    align-items: center;
    display: flex;
    margin-left: 20px;
}

.InfoMensagem {
    margin-left: 24px;
    margin-right: 13px;
    margin-top: 53px;
}

.CampoDeTextoMensagem {
    background-color: #232529;
    border-radius: 20px;
    margin-top: 3px;
    height: 111px;
    display: flex;
    margin-top: 10px;
}

.CampoDeTextoMensagem p {
    color: #595959;
    display: flex;
    margin-left: 20px;
    margin-top: 11px;
}

.EnviarMensagem {
    color: black;
    background-color: #3585F9;
    align-items: center;
    justify-content: center;
    width: 652px;
    height: 34px;
    margin-left: 59px;
    margin-right: 13px;
    margin-top: 59px;
    border-radius: 20px;
    display: flex;
}

.EnviarMensagem p {
    text-align: center;
    color: #101628;
    font-size: 20px;
}

.TabelaDeDuvidas {
    margin-top: 34px;
}

.DuvidasFrequentes {
    height: 538px;
    border: 3px solid white;
    border-radius: 20px;
    margin-top: 140px;
    font-family: sans-serif;
}

.DuvidasFrequentes p {
    color: white;
    font-size: 25px;
    margin-top: 42px;
    margin-left: 40px;
}

.SolicitarDemo {
    background-color: #2B2D33;
    border: 3px solid black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    width: 427px;
    height: 124px;
    border-radius: 20px;
    margin-left: 40px;
}

.SalvarAutomaticamente {
    background-color: #2B2D33;
    border: 3px solid black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    width: 427px;
    height: 124px;
    border-radius: 20px;
    margin-left: 40px;
    margin-top: 20px;
}

.Instalar {
    background-color: #2B2D33;
    border: 3px solid black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    width: 427px;
    height: 124px;
    border-radius: 20px;
    margin-left: 40px;
    margin-top: 20px;

}

.TabelaDeDuvidas h5 {
    color: #3585F9;
    font-size: 20px;
    margin-top: 11px;
    margin-left: 12px
}

.TabelaDeDuvidas p {
    font-size: 20px;
    margin-top: 11px;
    margin-left: 12px
}

.ContatoRapido {
    background-color: #2B2D33;
    border: 3px solid black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    width: 534px;
    height: 166px;
    border-radius: 20px;
    margin-top: 46px;
}

.FalarAgora p {
    margin-top: 41px;
    margin-left: 22px;
}

.FormaDeContato p {
    color: #595959;
    font-size: 20px;
    margin-top: 28px;
    margin-left: 22px;
    max-width: 279px;
}
footer{
    padding-top: 122px;
    padding-bottom: 68px;
    width: auto;
    background-color: black;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;

    display: flex;
    justify-content: center;  
    
}

.redesSociais {
width: 55px;
height: 55px;
}

.copyright{
    margin-left: 0px;
    color: white;
    font-family: sans-serif;
    font-size: 1em;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}


.nomes{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;

    li{
        margin: 0px; 
        padding-left: 25px;
    }

    li:before {
        background: white;
        width: 5px;
        height: 5px;
        margin-top: 1px;
    }   
}





